html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


.navigation {
	text-align: center;
	display: flex;
	justify-content: center;
}

nav {
	margin: 10px;
	padding: 10px; 
}

nav a {
	margin:10px;
	text-decoration: none;
	color:gray;
	padding: 0px 20px;
}

.top-container{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 35px;
	width: 960px;
	text-align: center;
	margin: auto;
}

h1 {
	font-size: 70px;
	margin-left: 25px;
	width: 380px;
}

.top-container .lineup_1 .get-started-button a {
	text-decoration: none;
	color: black;
}

.get-started-button {
	border:1px solid black;
	width: 150px;
	height: 25px;
	padding: 10px 10px;
	padding-bottom: 27px;
	text-align: center;
	margin-left: 140px;
}

hr {
	width: 865px;
}

.lineup 1 {
	margin: auto;
	padding: 10px 10px;
	text-align: center;
	width: 380px;
}

.lineup 2 {
	margin: auto;
	padding: 10px 10px;
	text-align: center;
	width: 380px;
}

.middle-upper {
	display: flex;
	justify-content: center;
	margin: 1%;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	
}

.middle-upper .content_1 {
	margin: 1%;
	width: 430px;
	text-align: left;
}

.middle-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.middle-lower {
	display: flex;
	justify-content: center;
	margin: 1%;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.middle-lower .content_2 {
	margin: 1%;
	width: 280px;
	text-align: left;
}

.lowerpart {
	width: 865px;
	margin: auto;
	padding-top: 40px;
}

.copyright {
	padding-top: 75px;
	text-align: center;
	padding-bottom: 90px;
}

.navigation-services-page {
	text-align: center;
	display: flex;
	justify-content: center;
}

.top-image {
	text-align: center;
}

.services {
	width: 880px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;

}
h2 {
	font-size: 25px;
	font-weight: bold;
}

.middle-content {
	padding-top: 20px;
	width: 880px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-around;
	align-content: space-between;
	align-content: space-around;
	padding-bottom: 20px;

}

.mid-boxs {
	border: 1px solid black;
	padding: 20px;
	width: 400px;
	height: 240px;
	margin: 20px;
	background-color:#F5F5F5;
}

.mid-boxs .learn-more-button a {
	text-decoration: none;
	color: black;
}

.learn-more-button {
	border: 1px solid black;
	width: 150px;
	height:30px;
	border-radius: 5px;
	padding: 5px 30px 5px 30px;
	text-align: center;
	background-color: white;
	margin: 30px 70px 10px 10px;
}

.bottom-container{
	display: flex;
	padding-top: 30px;
	width: 850px;
	margin: auto;
}

.section_lower {
	width: 440px;
}

.left-side-content {
	width: 420px;
	padding-right: 22px;
}

.bullets {
	margin-left: 20px;
	margin-top: 30px;
}

.bullets .list {
	list-style-type:disc;
}

.copyright {
	margin-top: 40px;
}

@media(max-width: 800px) {

    * {
        margin:10px;
    
    }

    .navigation {
        text-align: center;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: auto;
    }

    .logo {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .lineup_2 {
        display: none;
    }


    .top-container {
        display:flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    hr {
        width: 98%;
    }

    .mid-section {
        justify-content: center;  
    }

    .middle-img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .lowerpart {
        max-width: 100%;
        margin:10px;
    }

    .copyright {
        display:flex;
        justify-content: center;
        max-width: 800px;
    }
}

@media(max-width: 500px) {

    
        

    .navigation {
        display:flex;
        flex-direction: column-reverse;
        
    }

    nav {
        display: flex;
		flex-direction: column;
    }

    nav a {
		border-bottom: 1px solid black;
		
        margin:10px;
        text-decoration: none;
        color:gray;
        /* padding: 10px; */
		max-width:500px;
		padding-bottom:20px;
		
    }

    .logo {
        max-width: 183px;
        justify-content: center;
        margin: auto;
		/* border-bottom: 1px solid black; */
		padding-top:10px;
		padding-bottom: 20px;
	}
	
	.logo-image {
		border-bottom: 1px solid black;
		max-width: 94%;
	}

	.middle-upper {
		flex-direction: column;
	}

	.middle-img {
		max-width: 95%;
	}

	.middle-lower {
		flex-direction: column;
	}

	.middle-lower .content_2 {
		margin: 1%;
		width: 460px;
		text-align: left;
	}

	.lowerpart {
        max-width: 98%;
        margin:10px;
    }

	.copyright {
        display:flex;
        justify-content: center;
        max-width: 460px;
    }



}


